{
  "sourceMaps": "inline",
  "retainLines": false,
  "minified": true,
  "comments": false,
  "compact": true,
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    ["transform-builtin-extend", {
      "globals": ["Array", "Set"]
    }],
    ["babel-plugin-transform-runtime"]
  ],
  "ignore": [
    "node_modules/"
  ]
}
